@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}


#card{
    background-color: white;
    width: 150px;
    height: 200px;
    align-items: center;



}

button{
align-items: center;

}