@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

#generateBtn {
  width: auto; 
  padding: 8px 16px;
  font-size: 1rem;
}

#card{
    background-color: white;
    width: 200px;
    height: 300px;
    align-items: center;
    border-top: 50px;
}

#cardNumber{
    font-size: 50px;
    font-weight: bold;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#topSuit {
    position:absolute;
    top: 10px;
    left: 10px;
    font-size: 50px;
}

#bottomSuit {
    position: absolute;
    font-size: 50px;
    transform: rotate(180deg);
    bottom: 10px;
    right: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.red {
  color: red;
}

.black {
  color: black;
}

button{
align-items: center;

}